.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-content {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 20px;
    background-color: #f0f6fc; /* Light blue background */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  .login-form {
    flex: 1;
    padding-right: 20px;
  }
  
  .form-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #1677ff; /* Blue title color */
  }
  
  .form {
    width: 100%;
  }
  
  .login-button {
    width: 100%;
  }
  
  .signup-link {
    display: flex;
    margin-top: 20px;
  }
  
  .signup-text {
    cursor: pointer;
    margin-left: 5px;
    color: #1677ff; /* Blue color */
  }
  
  .login-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-image img {
    max-width: 100%;
  }
  